.container {
  background: #f7f2f8;
  width: 100%;
  height: 100vh;
}
.serverName {
  padding: 35px 60px;
  font-size: 40px;
  font-family: 'Work Sans', sans-serif;
  color: #826dc5;
}
@media screen and (max-width: 655px) {
  .serverName {
    font-size: 25px;
    padding: 25px 40px;
  }
}
.notFound {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notFound h1 {
  font-size: 100px;
  font-family: 'Be Vietnam Pro', sans-serif;
}
.notFound h1 span {
  font-size: 30px;
}
